@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 17, 24, 39;
  --background: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: 255, 255, 255;
    --background: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
